name: Build mod

on:
  push:
    branches: ["master"]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Build with Gradle
        run: ./gradlew build -x test --no-daemon

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: StellarCore
          path: build/libs/*.jar
          if-no-files-found: error
